.homepage {
    background-color: #1b262c;
}
#page-wrapper {
    border-style: solid;
    border-color: yellow;
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
}

#header {
    border-style: solid;
    border-color: green;
    border-width: 5px;
    background-color:;
    display: flex;
    margin: 0;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2020/01/04/20/35/holiday-4741622__340.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 12%;
    
}

#logo {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    width: 25%;
    object-fit: cover;
}
.air {
    border-radius: 50%;
}

#nav-wrapper {
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    display: flex;
    justify-content: center;
    width: 75%;

}
.nav {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.1%;
    width: 50%;
    height: min-content;
    background-color: #bbe1fa;
}
.topnav {
    font-size: 125%;
    margin: 2%;
    text-decoration: none;
    color: #0f4c75; 
}
#mid-page {
    border-style: solid;
    border-color: orange;
    border-width: 3px;
    width: 100%;
}
.mid-pics {
    border-style: solid;
    border-color: cyan;
    border-width: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}
.mid-wrap {
    border-style: solid;
    border-color: purple;
    border-width: 3px;
    color: white;
    margin: 4%;
}
.mid-text {
    background-color: #bbe1fa;
    height: 25%;
    font-size: 24px;
    text-align: center;
}